{% load static %}
{% block extra_css %}
<link href="{% static 'css/auth1.css' %}" rel="stylesheet" />
{% endblock %}

<div class="login_pop">
    <div class="pop_discr">
        <div class="img_flex">
            <div class="img_center">
                <img id="AH_gstImg" src="{% static 'img/topbnr.jpg' %}" data-pin-nopin="true">
            </div>
            <div class="login_list">
                <ul>
                    <li><span> <img src="{% static 'img/icon1.png' %}" data-pin-nopin="true"> </span>Get Exclusive Deals
                        & Offers </li>
                    <li><span> <img src="{% static 'img/icon2.png' %}" data-pin-nopin="true"> </span>Unlock 11 Lac+
                        Products </li>
                    <li><span> <img src="{% static 'img/icon3.png' %}" data-pin-nopin="true"> </span>Buy Now Pay Later
                        (Shop on Credit) </li>
                    <li><span> <img src="{% static 'img/icon4.png' %}" data-pin-nopin="true"> </span>Avail EMI Facility
                    </li>
                    <li><span> <img src="{% static 'img/icon5.png' %}" data-pin-nopin="true"> </span>Cancellation Refund
                        within 24 Hours </li>
                </ul>
            </div>
        </div>
        <div class="login_text">
            <h3 id="loginHeading">Login/Register</h3>
            <!--email add start here-->
            <div class="login_topicon" id="AH_enterUsernameTmpl">
                <img class="icons" src="{% static 'img/security.svg' %}" data-pin-nopin="true">
                <form>
                    <div class="input_fild">
                        <input type="text" id="exampleFormControlInput1" class="username_val"
                            placeholder="Enter Mobile Number Or Email">
                        <span id="phoneNoError" style="color:red; display: inline-block; margin-top: 5px;"></span>
                        <span id="firebaseError" style="color:red; display: inline-block; margin-top: 5px;"></span>
                        <!-- gst add -->
                        <div class="but_form">
                            <button type="submit" id="AH_sendOTP"> Continue </button>
                        </div>
                        <div class="or-txt">
                            <span>OR Continue with</span>
                        </div>
                        <div class="goobut google-js">
                            <button onclick="loginWithGoogle()"><span><img
                                        src="{% static 'img/google-svgrepo-com.svg' %}" data-pin-nopin="true"> </span>
                                GOOGLE</button>
                        </div>
                    </div>
                </form>
                <!-- gst add / -->
            </div>
            <!--email add end here-->

            <!--enter Email otp form start here-->
            <div class="login_topicon" style="display:none" id="AH_emailOtpTmpl">
                <img class="icons" src="{% static 'img/reset-password.svg' %}" data-pin-nopin="true">
                <small style="color: #101010;text-align: center;float: left;width: 100%;">Enter OTP Code sent to <a
                        href="login-register.html#"><strong id="AH_emailOTP"></strong></a> </small>
                <form>
                    <div class="input_fild">
                        <div class="icon_bg"> <img src="{% static 'img/loginfloicon/mail-icon.svg' %}"
                                data-pin-nopin="true"> </div>
                        <input type="number" id="exampleFormControlInput3" class="email_otp_val"
                            placeholder="Enter OTP">
                        <div id="some_div_email"></div>
                        <div><a id="AH_changeEmail2" class="check_number"><small><strong>Change
                                        Email</strong></small></a> <a href="#" class="resend_otp"
                                id="resendOTPPageEmail"><small> <strong id="disableOTPEmail"> Resend
                                        OTP</strong></small> </a> </div>
                        <span id="emailOtpError" style="color:red; display: inline-block; margin-top: 5px;"></span>
                    </div>
                    <div class="but_form">
                        <button type="submit" id="AH_submitEmailOTP"> Continue </button>
                    </div>
                </form>
                <div class="or-txt">
                    <span>OR Continue with</span>
                </div>
                <div class="goobut google-js">
                    <button onclick="loginWithGoogle()"><span><img src="{% static 'img/google-svgrepo-com.svg' %}"
                                data-pin-nopin="true"> </span> GOOGLE</button>
                </div>
            </div>
            <!--enter Email otp form end here-->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function sendOTPRequest(email) {
            $.ajax({
                type: 'POST',
                url: '{% url "RequestOTP" %}',
                data: {
                    'email': email,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        // Handle success - transition to OTP entry form
                        $('#AH_emailOTP').text(response.email);
                        $('#AH_enterUsernameTmpl').hide();
                        $('#AH_emailOtpTmpl').show();
                    } else {
                        // Handle errors - display error messages
                        var errors = response.errors;
                        if (errors) {
                            $('#phoneNoError').text(errors.email[0].message);
                        }
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        function disableResendButton() {
            var $resendBtn = $('#resendOTPPageEmail');
            $resendBtn.addClass('disabled');
            $resendBtn.attr('disabled', true);
            var counter = 30;
            var interval = setInterval(function () {
                $resendBtn.text('Resend OTP (' + counter + 's)');
                counter--;
                if (counter < 0) {
                    clearInterval(interval);
                    $resendBtn.text('Resend OTP');
                    $resendBtn.removeClass('disabled');
                    $resendBtn.attr('disabled', false);
                }
            }, 1000);
        }

        $('#exampleFormControlInput3').on('input', function () {
            var value = $(this).val();
            if (value.length > 4) {
                $(this).val(value.slice(0, 4));
            }
        });

        $('#AH_sendOTP').on('click', function (event) {
            event.preventDefault();
            var email = $('#exampleFormControlInput1').val();
            sendOTPRequest(email);
        });

        $('#resendOTPPageEmail').on('click', function (event) {
            event.preventDefault();
            var email = $('#AH_emailOTP').text();
            sendOTPRequest(email);
            disableResendButton();
        });

        $('#AH_submitEmailOTP').on('click', function (event) {
            event.preventDefault();
            var email = $('#AH_emailOTP').text();
            var otp = $('#exampleFormControlInput3').val();
            $.ajax({
                type: 'POST',
                url: '{% url "UserLoginView" %}',
                data: {
                    'email': email,
                    'otp': otp,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirect;
                    } else {
                        var errors = response.errors;
                        if (errors) {
                            $('#emailOtpError').text(errors.error[0]);
                        }
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
</script>

<style>
    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
</style>